
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

li {
    float: left;
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
.navbar li:hover {

    background-color: #555;
    color: white;
}


.login {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;

}

.jumbotron {
  display: none;
}

#pie {
  display: none;
}
