h1 {
  font: 35px arial, sans-serif;
  margin: auto;
  text-align: center;
}

#form-div {
    font: 15px arial, sans-serif;
    margin: auto;
    text-align: center;
    width: 100%;
    line-height: 50px;

}
#user {
  font: 15px arial, sans-serif;
  margin: auto;
  text-align: center;
  width: 100%;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

li {
    font: 15px arial, sans-serif;
    float: left;
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
.navbar li:hover {

    background-color: #555;
    color: white;
}


.login {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;

}

.jumbotron {
  display: none;
}

/*#pie div {
  display: none;
}*/
